
body {
    /* Styles for the body */
    margin: 0;
    font-family:Tahoma, Verdana, sans-serif;
}

/* Add this style to your existing CSS file or create a new one */

#loadingMessage {


font-size: 18px;
    font-weight: bold;
    color: #333; /* Adjust the color to your preference */
    text-align: center;
    margin-top: 20px;
padding:5px;
border-radius:40px;
background: linear-gradient(to right,transparent 20%, transparent 40%, #A8A8A8 50%, #A8A8A8 55%, transparent 70%, transparent 100%);
  background-size: 200% auto;

  animation: shine 0.5s linear infinite;
}

/*Begin shimmer code*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }fff


}

.hidden {
    display: none;
}



.btn{

background-color: black; /* Blue color */
    color:White; /* White text */
/* White text */
border: none;
padding: 20px 30px;
border-radius: 40px;
cursor: pointer;
text-decoration:none;
}

.preimg{

width:100%; border-radius:30px;  border: 3px solid transparent;
transition: all 1s ease;
background: linear-gradient(to right,transparent 20%, transparent 40%, Black 50%,Black 55%, transparent 70%, transparent 100%);
  background-size: 200% auto;

  animation: shine 5s linear infinite;
}

/*Begin shimmer code*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }fff

}

.dev{

 margin-bottom:30px;
 color:gray;
}

.his{
padding:30px;}