
body {
    /* Styles for the body */
    margin: 0;
    font-family:Tahoma, Verdana, sans-serif;
}

.btn{

background-color: black; /* Blue color */
    color:White; /* White text */
/* White text */
border: none;
padding: 20px 30px;
border-radius: 40px;
cursor: pointer;
text-decoration:none;
}