
body {
    /* Styles for the body */
    margin: 0;
    font-family:Tahoma, Verdana, sans-serif;
}

/* Add this style to your existing CSS file or create a new one */

/* Add this style to your existing CSS file or create a new one */

/* Add this style to your existing CSS file or create a new one */

#loadingMessage {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Adjust the color to your preference */
    text-align: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Loading animation */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}
.lds-ellipsis div {
    position: absolute;
    top: 7px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #333; /* Adjust the color to your preference */
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.hidden {
    display: none;
}


.lo{
width:5px;
hight;5px;
}

.btn{

background-color: black; /* Blue color */
    color:White; /* White text */
/* White text */
border: none;
padding: 20px 30px;
border-radius: 40px;
cursor: pointer;
text-decoration:none;
}


.dev{

 margin-bottom:30px;
 color:gray;
}

.his{
padding:30px;}