.floating-input {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color:white; 
    padding: 15px; 
    border-radius: 32px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 

    align-items: left;
    width: 80vw; 
    max-width: 700px; 
    margin: 0 auto; 
}


.input-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color:white;
    border: none; 
   }
.paper-clip-icon{
    width: 25px; 
    height: 25px; 
    border-radius:100px;
   
    margin-right:5px;
}
.paper-rocket-icon{
    margin-top: 2px;
    margin-right:10px;
    width: 20px; 
    height: 20px; 
}

.floating-input input {
    flex: 1;
    padding: 12px;
    border:none;
    border-radius: 5px;
    margin-right: 10px;
}

.floating-input button {
    background-color:white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 95px;
    cursor: pointer;
    margin-right:9px;
    
}
/* Initial state of the loading text */
#loadingText {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Class to hide the loading text */
.hide {
    opacity: 0;
}
