

.form_style {
    /* Styles for the form */
    margin: auto;
    text-align: left;   
    width: 85vw;
    max-width:auto;
    hight:120vw;
    
}
.inside_form{
    width: 100%;
    background-color:transparent;
    height:auto;
    margin-bottem :100px;

}
.form_style form {
    display: inline-block;
}

