.result {
    font-size: .8em;
    padding: 10px;
    color:black;
    margin-left:3px;
    margin-top:15px;
}
  

/* Progress bar styling */
.progress-bar {
    width: 0%;
    height: 5px;
    background-color: black; /* Green color */
    display: none; /* Initially hidden */
    margin:10px;
   margin-top:10px;
    border-radius:30px;
    transition: width 0.1s ease-in-out; /* Smooth width change */
}

