.result {
    font-size:14px;
    padding: 10px;
    color:white;
    margin:8px;
    margin-top:15px;
    
    padding:5px;
    background-color:black;
    border-radius:25px;
    tetext-align:center;
}
  

