.result {
    font-size:14px;
    padding: 10px;
    color:black;
    margin-left:3px;
    margin-top:15px;
}
  


.progress-container {
  width: 100%;
  background-color: #f1f1f1;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: black;
  text-align: center;
  line-height: 30px;
  color: white;
}